@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

#Main {
  width: 30%;
  padding-top: 20.5%;
  margin: auto;
}

#Main-Context {
  text-align: center;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

#github-button {
  /* width: 20%; */
  margin: auto;
  display: block;
  background-color: black;
  border: solid 2px black;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: black;
}

#github-img {
  display: block;
  width: 10.2%;
  margin: 0px auto;
}

#Lang {
  padding-top: 30%;
  padding-bottom: 20px;
}

#Lang-h2 {
  text-align: center;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

#Lang-list {
  display: block;
  margin: auto;
}

li {
  text-align: center;
  color: white;
  font-size: 120%;
  font-family: "Noto Sans KR", sans-serif;
}
