#Main {
  width: 30%;
  padding-top: 20.5%;
  margin: auto;
}

#Main-Context {
  text-align: center;
  color: #e4d4d4;
}

#github-button {
  /* width: 20%; */
  margin: auto;
  display: block;
  background-color: #2375c7;
  border: solid 2px #2375c7;
  color: #e4d4d4;
}

body {
  background-color: #2375c7;
}

#github-img {
  display: block;
  width: 10.2%;
  margin: 0px auto;
}

#Lang {
  padding-top: 30%;
  padding-bottom: 20px;
}

#Lang-h2 {
  text-align: center;
  color: #e4d4d4;
}

#Lang-list {
  display: block;
  margin: auto;
}

li {
  text-align: center;
  color: #e4d4d4;
  font-size: 120%;
}
