.doremi {
  margin-top: 2%;
  text-align: center;
  position: relative;
}

.discommand {
  margin-top: 2%;
  text-align: center;
  position: relative;
}

.doremi_wrap {
  width: 640px;
  height: 320px;
  overflow: hidden;
  margin: 0 auto;
}

.discommand_wrap {
  width: 640px;
  height: 320px;
  overflow: hidden;
  margin: 0 auto;
}

.doremi_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s;
}

.discommand_wrap img {
  border-radius: 20px;
  transition: 0.5s;
}

.doremi_wrap:hover img {
  filter: brightness(0.5);
  transition: 0.5s;
}

.discommand_wrap:hover img {
  filter: brightness(0.5);
  transition: 0.5s;
}

.project_move {
  opacity: 0;
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.doremi_wrap:hover .project_move {
  transition: 0.5s;
  opacity: 1;
}

.discommand_wrap:hover .project_move {
  transition: 0.5s;
  opacity: 1;
}
