@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

body {
  font-family: 'petendard', sans-serif;
  background-color: #383838;
}

.navbar {
  background-color: #242424;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

body {
  margin: 0;
}

.navbar_photo {
  padding-left: 0;
}

.navbar_item {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #dedede;
}

.navbar_item li {
  padding: 8px 30px;
}
