@import "tailwindcss";

@layer base {
	h1 {
		font-size: var(--text-2xl);
		font-weight: 700;
	}

	h2 {
		font-size: var(--text-lg);
	}

	@media (min-width: 768px) {
		h1 {
			font-size: var(--text-3xl);
		}

		h2 {
			font-size: var(--text-2xl);
		}
	}
}

:root {
	--text-color: #dedede;
	--bg-color: #090c16;
	--bg2-color: #070a11;
	--scroll-color: #14213f;
}

body {
	font-family: "Pretendard", sans-serif;
	background-color: var(--bg2-color);
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--text-color);
	transition: 0.25s;
}

a:hover {
	color: white;
	transition: 0.25s;
}

h1 {
	color: var(--text-color);
}

h2 {
	color: var(--text-color);
}

p {
	color: var(--text-color);
	font-size: 18px;
}

::-webkit-scrollbar {
	background-color: var(--bg2-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
	border-radius: 10px;
	background-clip: padding-box;
	border: 4px solid transparent;
}

@media (max-width: 768px) {
	body {
		font-size: 14px;
	}
}
