@import "tailwindcss";

@layer base {
	:root {
		--default-text-color: #dedede;
		--text-color: var(--default-text-color);
		--bg-color: #090c16;
		--bg2-color: #070a11;
		--scroll-color: #14213f;
		--hover-color: white;
	}

	@media (prefers-color-scheme: light) {
		:root {
			--text-color: black;
			--bg-color: white;
			--bg2-color: white;
			--hover-color: #404040;
		}
	}

	html,
	body {
		@apply h-screen;
	}

	body {
		@apply bg-(--bg2-color) font-[Pretendard] text-[14px] flex flex-col;
	}

	main {
		@apply h-screen grid justify-center items-center;
	}

	h1 {
		@apply text-2xl text-(--text-color) font-bold;
	}

	h2 {
		@apply text-lg text-(--text-color);
	}

	p {
		@apply text-xl text-(--text-color);
	}

	h3 {
		@apply text-xl text-(--text-color);
	}

	a {
		@apply text-(--text-color) duration-250;
	}

	a:hover {
		@apply text-(--hover-color) duration-250;
	}

	::-webkit-scrollbar {
		@apply bg-(--bg2-color);
	}

	::-webkit-scrollbar-thumb {
		@apply bg-(--scroll-color) bg-clip-padding rounded-[10px] border-4 border-solid border-transparent;
	}

	@media (min-width: 768px) {
		h1 {
			@apply text-3xl;
		}

		h2 {
			@apply text-2xl;
		}

		p {
			@apply text-lg;
		}

		h3 {
			@apply text-lg;
		}
	}
}
