@import "tailwindcss";

@layer base {
	:root {
		--default-text-color: #dedede;
		--text-color: var(--default-text-color);
		--bg-color: #090c16;
		--bg2-color: #070a11;
		--scroll-color: #14213f;
		--hover-color: white;
	}

	@media (prefers-color-scheme: light) {
		:root {
			--text-color: black;
			--bg-color: white;
			--bg2-color: white;
			--hover-color: #404040;
		}
	}

	body {
		font-size: 14px;
		font-family: "Pretendard", sans-serif;
		background-color: var(--bg2-color);
		margin: 0;
	}

	h1 {
		font-size: var(--text-2xl);
		color: var(--text-color);
		font-weight: 700;
	}

	h2 {
		font-size: var(--text-lg);
		color: var(--text-color);
	}

	p {
		font-size: var(--text-xl);
		color: var(--text-color);
	}

	a {
		text-decoration: none;
		color: var(--text-color);
		transition: 0.25s;
	}

	a:hover {
		color: var(--hover-color);
		transition: 0.25s;
	}

	::-webkit-scrollbar {
		background-color: var(--bg2-color);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--scroll-color);
		border-radius: 10px;
		background-clip: padding-box;
		border: 4px solid transparent;
	}

	@media (min-width: 768px) {
		h1 {
			font-size: var(--text-3xl);
		}

		h2 {
			font-size: var(--text-2xl);
		}

		p {
			font-size: var(text-lg);
		}
	}
}
